body{
    background: #ffffff;
    margin: 0;
    padding: 0;
    font-family: Ancizar Sans, sans-serif;
    font-size: x-large;
    color: #0E263E;

}



.Logo{
    width: 35%;
    top: 5%;
    padding: 10px;
    margin-left: 50%;
    transform: translateX(-50%);
    
}


#principal{
    display: flex;
}

.tab{
    margin-left:30px;
}



.botones{
    font-size: medium;
    font-weight: bold;
    margin-left: 50%;
    transform: translateX(-50%);
    text-align: left;
}


.botones input {
    
    width: 95%;
    margin-bottom: 20px;
    border-radius: 10px;
    border-style: solid;
    border-color: #cccccc;
    border-width: 1px;
    height: 35px;
    color: #000000;
    background: #EAEAEA;
    font-size: 15px;
}



.botones input[type="submit"] {

    height: 35px;
    width: 200px;
    background: #E48F27;
    color: #ffffff;
    font-size: 15px;
    border-radius: 10px;
    border: none;
    text-align: center;
}

.botones input[type="submit"]:hover {

    height: 35px;
    width: 200px;
    background: #0E263E;
    color: #ffffff;
    font-size: 15px;
    border-radius: 10px;
    border: none;
    text-align: center;
}

.BMod{
    text-align: center;
}




.ret1{
    height: 50px;
    width: 50px;
    margin: 1px;

}